.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
  max-height: 550px;
  overflow: hidden;


  .main-info {
    display: flex;
    gap: 20px;
    flex: 1 0 40%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    height: 90%;
    position: relative;
    overflow: hidden;

    .header-info{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-45deg);
      top: 5%;
      left: -25%;
      border: none !important;
      width: 70%;
      padding: 20px !important;
      text-align: center;
      background-color: #f4862d;
      font-weight: bold;
      color: whitesmoke;

    }

    .main-img {
      flex: 2;
      overflow: hidden;
      img {
        margin-top: 20px;
        max-width: 350px;
        width: 100%;
        min-height: 350px;
        max-height: 350px;
      }
    }

    .infos {
      flex: 3;
      div {
        border-bottom: 1px dotted saddlebrown;
        padding-bottom: 5px;
      }

      div:first-child{
        border: none;
      }
      h5 {
        width: 100px;
        font-weight: 500;
      }

      .author {
        display: -webkit-box; /* Flexbox kullanarak kutuyu görüntüler */
        -webkit-box-orient: vertical; /* Kutuyu dikey olarak hizalar */
        -webkit-line-clamp: 1; /* Satır sayısını 10 ile sınırlar */
        overflow: hidden; /* Taşan kısmı gizler */
        text-overflow: ellipsis;
      }

      .title {
        font-weight: bold;
        font-style: italic;
        color: saddlebrown;
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
        display: -webkit-box; /* Flexbox kullanarak kutuyu görüntüler */
        -webkit-box-orient: vertical; /* Kutuyu dikey olarak hizalar */
        -webkit-line-clamp: 2; /* Satır sayısını 10 ile sınırlar */
        overflow: hidden; /* Taşan kısmı gizler */
        text-overflow: ellipsis;
      }

      .desc {
        display: -webkit-box; /* Flexbox kullanarak kutuyu görüntüler */
        -webkit-box-orient: vertical; /* Kutuyu dikey olarak hizalar */
        -webkit-line-clamp: 3; /* Satır sayısını 10 ile sınırlar */
        overflow: hidden; /* Taşan kısmı gizler */
        text-overflow: ellipsis; /* Taşan kısmı üç nokta ile gösterir */
      }


    }
  }
}

@media (max-width: 800px) {
  .main-container{
    padding: 20px;
    .main-info:last-child{
      display: none;
    }
  }
}


@media (max-width: 510px) {
  .main-container{
    display: none;
  }
}
